html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family:'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* 
.infinite-scroll-left.jsx-4{
  white-space: nowrap;
  display: flex;
  animation: 150s linear 0s infinite normal none runningINFINITESCROLLLEFT ;
}

.infinite-scroll-left.jsx-4 > div.jsx-4{
  display: flex;
}

/* .infinite-scroll-left.jsx-4{
  display: flex;
} */
/* @-webkit-keyframes INFINITESCROLLLEFT {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1446.40625px, 0, 0);
    transform: translate3d(-1446.40625px, 0, 0);
  }
}
@keyframes INFINITESCROLLLEFT {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1446.40625px, 0, 0);
    transform: translate3d(-1446.40625px, 0, 0);
  }
}  */
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }